/* Write your CSS here */
.li-container {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 130px;
  width: 45%;
}
.logo {
  width: 80px;
  height: 70px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
}
li {
  margin: 5px;
  display: flex;

  justify-content: center;
}
